.community-video-item {
  position: relative;
  overflow: hidden;
  height: 380px; /* You can adjust the height of the video item */
  margin: 5px;
  border-radius: 10px;
}
.community-profile-img{
border-radius: 50%;
object-fit: cover;
height: 60px;
width: 60px;
}

.community-icons{
    width:30px;
    height: 30px;
    cursor: pointer;
}
.coach-profile-img{
  width: 80px;
  height: 80px;
}
.community-icons.liked {
  color: red;
}
.community-counts{
  font-size: 20px;
  font-weight: 700;

}