.dashboard-cards {
  padding: 20px;
}

.dashboard-card {
  transition: transform 0.2s ease-in-out;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dashboard-icon {
  font-size: 50px;
  color: rgba(117, 17, 119, 1);
  margin-bottom: 10px;
}

.dashboard-card-detail {
  word-break: break-word;
  font-weight: bold;
}
