.comment-reply-btn{
    color:rgba(117, 17, 119, 1);
    cursor: pointer;
}
.see-reply-btn{
    color:rgba(40, 27, 191, 1);
    cursor: pointer;
    font-weight: 600;
}
.modal-dialog{
    max-width:1200px;
}
.custom-modal {
  background: url('../../assets/img/images/ps-1.jpg') no-repeat center center;
  background-size: cover;
}